{% for v in result.validators %}
<tr>
  <td>{{ v.nodeID }}</td>
  <td>{{ v.stakeAmount | fmtAVAX }}</td>
  <td>{{ v.startTime | fmtDate }}</td>
  <td>{{ v.endTime | fmtDate }}</td>
  <td>{{ v.delegationFee }}</td>
</tr>
<tr>
  <td colspan="6">&nbsp;&nbsp;⇢ txID: {{ v.txID }}</td>
</tr>
{% endfor %}
