{{template "layout" .}} {{define "content"}}
<div class="masthead mb-3">
  <div class="container-xxl bd-gutter">
    <div class="col-md-8 mx-auto text-center mt-5">
      <h1 class="mb-3 fw-semibold">
        <span class="d-inline-block blinking">👁</span> Panopticon <span class="d-inline-block blinking">👁</span>
      </h1>
    </div>
  </div>
</div>

<div class="container w-95 border border-5 rounded pb-3">
  <h3 class="text-center">ggAVAX Delegations</h3>
  <div id="ggavax" class="text-center"><div class="loader">Loading...</div></div>
</div>
<br />
<div class="container w-95 border border-5 rounded pb-3">
  <h3 class="text-center">ggAVAX Stats</h3>
  <div id="ggavax-stats" class="text-center"><div class="loader">Loading...</div></div>
</div>

<style>
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 9140px;
  }
</style>

<script type="module">
  import { DEPLOYMENT } from "/deployments/selected.js";
  import { GoGoPool } from "/js/gogopool.js";
  import { ggAVAX } from "/js/ggavax.js";
  import { ggAVAXDef, ggAVAXStatsDef } from "/js/tabulator.js";
  let GGAVAX, GGP;

  async function initData() {
    GGP = new GoGoPool(DEPLOYMENT);
    GGAVAX = new ggAVAX(DEPLOYMENT);
    await GGP.fetchContracts();
    await Promise.all([GGP.fetchDashboardData(), GGAVAX.fetchCurrentDelegations()]);
  }

  await initData();

  const tableCurrentDelegations = new Tabulator("#ggavax", ggAVAXDef);

  GGAVAX.refreshDataLoop(() => {
    tableCurrentDelegations.updateOrAddData(GGAVAX.currentDelegations);
  });

  const tableStats = new Tabulator("#ggavax-stats", ggAVAXStatsDef);

  GGP.refreshDataLoop(() => {
    // Reusing the GGP data, but just grabbing what we want for this page
    const data = GGP.dashboardAsTabulatorData().filter((obj) => obj.contract === "TokenggAVAX");
    tableStats.updateOrAddData(data);
  });
</script>
{{end}}
