{{template "layout" .}} {{define "content"}}
<div class="masthead mb-3">
  <div class="container-xxl bd-gutter">
    <div class="col-md-8 mx-auto text-center mt-5">
      <h1 class="mb-3 fw-semibold">
        <span class="d-inline-block blinking">👁</span> Panopticon <span class="d-inline-block blinking">👁</span>
      </h1>
    </div>
  </div>
</div>

<div class="container w-95 border border-5 rounded pb-3">
  <h3 class="text-center">ggAVAX Delegations</h3>
  <div id="ggavax" class="text-center"><div class="loader">Loading...</div></div>
</div>
<br />
<div class="container w-95 border border-5 rounded pb-3">
  <h3 class="text-center">ggAVAX MEV</h3>
  <div id="mev" class="text-center"><div class="loader">Loading...</div></div>
</div>
<br />
<div class="container w-95 border border-5 rounded pb-3">
  <h3 class="text-center">ggAVAX Stats</h3>
  <div id="ggavax-stats" class="text-center"><div class="loader">Loading...</div></div>
  <div>WAVAX Balance: <span id="wavax-balance"></span></div>
  <div>Next Rewards Amt: <span id="next-rewards-amt"></span></div>
</div>

<style>
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 9140px;
  }
</style>

<script type="module">
  import { utils as ethersUtils, BigNumber } from "https://esm.sh/ethers@5.7.2";
  import { DEPLOYMENT } from "/deployments/selected.js";
  import { GoGoPool } from "/js/gogopool.js";
  import { ggAVAX } from "/js/ggavax.js";
  import { ggAVAXDef, ggAVAXStatsDef, ggAVAXMEVDef } from "/js/tabulator.js";
  import { formatters } from "/js/utils.js";

  let GGAVAX, GGP;

  async function initData() {
    GGP = new GoGoPool(DEPLOYMENT);
    GGAVAX = new ggAVAX(DEPLOYMENT);
    await GGP.fetchContracts();
    await Promise.all([
      GGP.fetchDashboardData(),
      GGAVAX.fetchCurrentDelegations(),
      GGAVAX.fetchCurrentMEV(),
      GGAVAX.fetchWavaxBalance(),
    ]);
  }

  await initData();

  const tableCurrentDelegations = new Tabulator("#ggavax", ggAVAXDef);
  const tableCurrentMEV = new Tabulator("#mev", ggAVAXMEVDef);

  GGAVAX.refreshDataLoop(() => {
    if (GGAVAX.currentDelegations && GGAVAX.currentDelegations.length > 0) {
      tableCurrentDelegations.updateOrAddData(GGAVAX.currentDelegations);
    }

    if (GGAVAX.currentMEV && GGAVAX.currentMEV.length > 0) {
      tableCurrentMEV.updateOrAddData(GGAVAX.currentMEV);
    }

    const wavaxEl = document.getElementById("wavax-balance");
    wavaxEl.innerHTML = formatters.formatEther(GGAVAX.wavaxBalance);
    const nextRewardsAmtEl = document.getElementById("next-rewards-amt");
    nextRewardsAmtEl.innerHTML = formatters.formatEther(calcNextRewardAmt());
  });

  const tableStats = new Tabulator("#ggavax-stats", ggAVAXStatsDef);

  GGP.refreshDataLoop(() => {
    // Reusing the GGP data, but just grabbing what we want for this page
    const data = GGP.dashboardAsTabulatorData().filter((obj) => obj.contract === "TokenggAVAX");
    tableStats.updateOrAddData(data);
    const x = calcNextRewardAmt();
    console.log(x);
  });

  // Ugh lame figure out better way
  function calcNextRewardAmt() {
    // 		uint256 nextRewardsAmt = (asset.balanceOf(address(this)) + stakingTotalAssets_) - totalReleasedAssets_ - lastRewardsAmt_;
    const stakingTotalAssets = GGP.dashboardValue("TokenggAVAX", "stakingTotalAssets");
    const totalReleasedAssets = GGP.dashboardValue("TokenggAVAX", "totalReleasedAssets");
    const lastRewardsAmt = GGP.dashboardValue("TokenggAVAX", "lastRewardsAmt");

    return BigNumber.from(GGAVAX.wavaxBalance).add(stakingTotalAssets).sub(totalReleasedAssets).sub(lastRewardsAmt);
  }
</script>
{{end}}
