{{template "layout" .}} {{define "content"}}
<div class="masthead mb-1">
  <div class="container-xxl bd-gutter">
    <div class="col-md-8 mx-auto text-center mt-5">
      <h1 class="mb-1 fw-semibold">
        <span class="d-inline-block blinking">👁</span> Panopticon <span class="d-inline-block blinking">👁</span>
      </h1>
    </div>
  </div>
</div>

<div class="container w-95 text-center text-muted">
  <div id="blockchain-metrics"></div>
</div>

<div class="container w-95 text-center text-muted">
  <div class="copyable" id="rpc-url"></div>
</div>

<div class="container w-95 text-center border border-5 rounded mb-4 pb-4">
  <h3 class="text-center">Minipools</h3>
  <div id="minipools"><div class="loader">Loading...</div></div>
</div>

<div class="container w-95 text-center border border-5 rounded mb-4 pb-4">
  <h3 class="text-center">NodeOps</h3>
  <div id="stakers"><div class="loader">Loading...</div></div>
</div>

<div class="container w-95 text-center border border-5 rounded mb-4 pb-4">
  <h3 class="text-center">Protocol Parameters</h3>
  <div id="dashboard"><div class="loader">Loading...</div></div>
</div>

<div class="container w-95 text-center border border-5 rounded pb-3">
  <h3 class="text-center">Contracts</h3>
  <div id="contracts"><div class="loader">Loading...</div></div>
</div>

<script type="module">
  import { DEPLOYMENT } from "/deployments/selected.js";
  import { GoGoPool } from "/js/gogopool.js";
  import { Blockchain } from "/js/blockchain.js";
  import { contractsDef, dashboardDef, minipoolsDef, stakersDef } from "/js/tabulator.js";
  let GGP, BC;

  window.POLL_INTERVAL = 60 * 1000;
  window.BATCHSIZE = 700;

  function copyEthRpcUrl() {
    navigator.clipboard.writeText(BC.ethURL);
  }
  document.querySelector("#rpc-url").addEventListener("click", copyEthRpcUrl);

  async function initData() {
    GGP = new GoGoPool(DEPLOYMENT);
    BC = new Blockchain(DEPLOYMENT);

    await Promise.all([
      BC.fetchData(),
      GGP.fetchContracts(),
      GGP.fetchDashboardData(),
      // GGP.fetchMinipools({ status: [1, 2, 3] }),
      GGP.fetchMinipools(),
      GGP.fetchStakers(),
    ]);
    console.log("Data Loaded", GGP, BC);
  }
  await initData();

  contractsDef.data = GGP.getContracts();
  const tableContracts = new Tabulator("#contracts", contractsDef);

  BC.refreshDataLoop(() => {
    document.getElementById("blockchain-metrics").innerHTML = BC.statusLine();
    document.getElementById("rpc-url").innerHTML = BC.rpcUrlDisplay();
  });

  const tableDashboard = new Tabulator("#dashboard", dashboardDef);
  const tableMinipools = new Tabulator("#minipools", minipoolsDef);
  const tableStakers = new Tabulator("#stakers", stakersDef);
  GGP.refreshDataLoop(() => {
    tableDashboard.updateOrAddData(GGP.dashboardAsTabulatorData());
    tableMinipools.updateOrAddData(GGP.minipoolsAsTabulatorData());
    tableStakers.updateOrAddData(GGP.stakersAsTabulatorData());
  });
</script>
<style>
  .copyable {
    cursor: copy;
  }
  .mirror {
    display: inline-block;

    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
</style>
{{ end }}
