{{template "layout" .}} {{define "content"}}
<div class="masthead mb-1">
  <div class="container-xxl bd-gutter">
    <div class="col-md-8 mx-auto text-center mt-5">
      <h1 class="mb-1 fw-semibold">
        <span class="d-inline-block blinking">👁</span> Panopticon <span class="d-inline-block blinking">👁</span>
      </h1>
    </div>
  </div>
</div>

<div class="container w-95 text-center text-muted">
  <div id="blockchain-metrics"></div>
</div>

<div class="container w-95 text-center text-muted">
  <div class="copyable" id="rpc-url"></div>
</div>

<div class="container w-95 text-center text-muted"></div>

<div class="container w-95 text-center border border-5 rounded mb-4 pb-4">
  <div class="float-md-end d-none d-md-block mt-1">
    <input id="filter-value" type="text" placeholder="filter node/owner" />
    <button id="filter-clear">X</button>
  </div>
  <h3 class="d-inline-block text-center"><a href="/home">Minipools</a></h3>
  <a href="?status=3,4,5,6" class="d-inline-block">(finished)</a>
  <span id="downloadMinipools">📥</span>
  <div id="minipools"><div class="loader">Loading...</div></div>
</div>

<div class="container w-95 text-center border border-5 rounded mb-4 pb-4">
  <h3 class="d-inline-block text-center"><a href="/home">Estimated Launch Capacity</a></h3>
  <div id="launch-capacity"></div>
</div>

<div class="container w-95 text-center mb-4 pb-4 alert alert-warning">
  ⚠️ These numbers are all estimates of next cycle's rewards, based on the information in the smart contracts, and may
  not be accurate.
  <br />
  GGP buys required to get everyone to 150% collateralization ratio: <span id="buy-pressure"></span><br />
  Not Financial Advice, Do Your Own Research, WAGMI.<br />
</div>

<div class="container w-95 text-center border border-5 rounded mb-4 pb-4">
  <h3 class="text-center">NodeOps <span id="downloadNodeOps">📥</span></h3>
  <div id="stakers"><div class="loader">Loading...</div></div>
</div>

<div class="container w-95 text-center border border-5 rounded mb-4 pb-4">
  <h3 class="text-center">Protocol Parameters</h3>
  <div id="dashboard"><div class="loader">Loading...</div></div>
</div>

<div class="container w-95 text-center border border-5 rounded pb-3">
  <h3 class="text-center">Contracts</h3>
  <div id="contracts"><div class="loader">Loading...</div></div>
</div>

<script type="module">
  import { DEPLOYMENT } from "/deployments/selected.js";
  import { GoGoPool } from "/js/gogopool.js";
  import { Blockchain } from "/js/blockchain.js";
  import { contractsDef, dashboardDef, minipoolsDef, stakersDef } from "/js/tabulator.js";
  let GGP, BC;

  window.POLL_INTERVAL = 60 * 1000;
  window.BATCHSIZE = 500;

  function copyEthRpcUrl() {
    navigator.clipboard.writeText(BC.ethURL);
  }
  document.querySelector("#rpc-url").addEventListener("click", copyEthRpcUrl);

  async function initData() {
    GGP = new GoGoPool(DEPLOYMENT);
    BC = new Blockchain(DEPLOYMENT);

    await Promise.all([
      BC.fetchData(),
      GGP.fetchContracts(),
      GGP.fetchDashboardData(),
      GGP.fetchMinipools(),
      GGP.fetchStakers(),
    ]);
    console.log("Data Loaded", GGP, BC);
  }
  await initData();

  contractsDef.data = GGP.getContracts();
  const tableContracts = new Tabulator("#contracts", contractsDef);

  BC.refreshDataLoop(() => {
    document.getElementById("blockchain-metrics").innerHTML = BC.statusLine();
    document.getElementById("rpc-url").innerHTML = BC.rpcUrlDisplay();
  });

  const tableDashboard = new Tabulator("#dashboard", dashboardDef);
  const tableMinipools = new Tabulator("#minipools", minipoolsDef);
  const tableStakers = new Tabulator("#stakers", stakersDef);
  document
    .querySelector("#downloadNodeOps")
    .addEventListener("click", () => tableStakers.download("csv", "GoGoPool_NodeOps.csv"));

  document
    .querySelector("#downloadMinipools")
    .addEventListener("click", () => tableMinipools.download("csv", "GoGoPool_Minipools.csv"));

  GGP.refreshDataLoop(() => {
    document.getElementById("buy-pressure").innerHTML = GGP.buyPressure().toLocaleString(undefined, {
      maximumFractionDigits: 0,
    });

    tableDashboard.blockRedraw();
    tableMinipools.blockRedraw();
    tableStakers.blockRedraw();

    tableDashboard.updateOrAddData(GGP.dashboardAsTabulatorData());
    tableMinipools.updateOrAddData(GGP.minipoolsAsTabulatorData());
    tableStakers.updateOrAddData(GGP.stakersAsTabulatorData());

    tableDashboard.restoreRedraw();
    tableMinipools.restoreRedraw();
    tableStakers.restoreRedraw();

    drawLaunchCapacity();
  });

  var valueEl = document.getElementById("filter-value");

  //Trigger setFilter function with correct parameters
  function updateFilter() {
    tableMinipools.setFilter([
      [
        { field: "nodeID", type: "like", value: valueEl.value },
        { field: "nodeAddr", type: "like", value: valueEl.value },
        { field: "BLSPubkey", type: "like", value: valueEl.value },
        { field: "owner", type: "like", value: valueEl.value },
      ],
    ]);
    tableStakers.setFilter([[{ field: "stakerAddr", type: "like", value: valueEl.value }]]);
  }

  //Update filters on value change
  document.getElementById("filter-value").addEventListener("keyup", updateFilter);
  document.getElementById("filter-value").addEventListener("keyup", function (e) {
    if (e.key == "Escape") {
      valueEl.value = "";
      tableMinipools.clearFilter();
    }
  });

  //Clear filters on "Clear Filters" button click
  document.getElementById("filter-clear").addEventListener("click", function () {
    valueEl.value = "";
    tableMinipools.clearFilter();
  });

  function drawLaunchCapacityz() {
    const data = GGP.launchCapacityData();

    // Process data to count occurrences per date
    const dataCount = d3
      .rollups(
        data,
        (v) => v.length,
        (d) => d.date
      )
      .map(([date, count]) => ({ date, count }));

    // Set up SVG dimensions
    const margin = { top: 20, right: 20, bottom: 30, left: 40 },
      width = 960 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom;

    // Append SVG object to the body of the page
    const svg = d3
      .select("#launch-capacity")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", `translate(${margin.left},${margin.top})`);

    // Set up X scale
    const x = d3.scaleBand().range([0, width]).padding(0.1);
    x.domain(dataCount.map((d) => d.date));

    // Set up Y scale
    const y = d3.scaleLinear().range([height, 0]);
    y.domain([0, d3.max(dataCount, (d) => d.count)]);

    // Add X axis
    svg
      .append("g")
      .attr("transform", `translate(0,${height})`)
      .call(d3.axisBottom(x))
      .selectAll("text")
      .style("text-anchor", "end")
      .attr("dx", "-.8em")
      .attr("dy", ".15em")
      .attr("transform", "rotate(-65)");

    // Add Y axis
    svg.append("g").call(d3.axisLeft(y));

    // Draw bars
    svg
      .selectAll(".bar")
      .data(dataCount)
      .enter()
      .append("rect")
      .attr("class", "bar")
      .attr("x", (d) => x(d.date))
      .attr("width", x.bandwidth())
      .attr("y", (d) => y(d.count))
      .attr("height", (d) => height - y(d.count));
  }

  function drawLaunchCapacity() {
    const margin = { top: 10, right: 30, bottom: 30, left: 40 };
    const width = 600 - margin.left - margin.right;
    const height = 400 - margin.top - margin.bottom;

    document.getElementById("launch-capacity").innerHTML = "";

    const svg = d3
      .select("#launch-capacity")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", `translate(${margin.left},${margin.top})`);

    const data = GGP.launchCapacityData();
    const dateTimeExtent = d3.extent(data, (d) => d.date);
    const now = luxon.DateTime.now().startOf("day");
    dateTimeExtent[0] = now;
    const thresholds = d3.timeHour.every(24).range(...dateTimeExtent);

    const x = d3.scaleTime().domain(dateTimeExtent).rangeRound([0, width]);

    const y = d3.scaleLinear().range([height, 0]);

    const bins = d3
      .histogram()
      .domain(dateTimeExtent)
      .thresholds(thresholds)
      .value((d) => d.date)(data);

    y.domain([
      0,
      d3.max(bins, function (d) {
        return d.length;
      }),
    ]);

    svg
      .selectAll("rect")
      .data(bins)
      .enter()
      .append("rect")
      .attr("class", "bar")
      .attr("x", 1)
      .attr("fill", "#141168")
      .attr("transform", function (d) {
        return "translate(" + x(d.x0) + "," + y(d.length) + ")";
      })
      .attr("width", function (d) {
        return x(d.x1) - x(d.x0) - 1;
      })
      .attr("height", function (d) {
        return height - y(d.length);
      });

    const xAxis = d3.axisBottom(x).tickArguments([d3.timeDay.every(1)]);

    // Add the x axis
    svg
      .append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    // Add the y axis
    svg
      .append("g")
      .call(
        d3.axisLeft(y).ticks(
          d3.max(bins, function (d) {
            return d.length;
          })
        )
      )
      .append("text")
      .attr("fill", "#795ae1")
      .attr("transform", "rotate(-90)")
      .attr("y", -40)
      .attr("dy", "0.71em")
      .style("text-anchor", "end")
      .text("Minipools Available");
  }
</script>
<style>
  .copyable {
    cursor: copy;
  }
  .mirror {
    display: inline-block;

    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
</style>
{{ end }}
