<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- NoBuild Mobile App using https://onsen.io/v2/guide/fundamentals.html -->
    <title>Panopticon Mobile</title>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css" />
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.css" />
    <script src="https://unpkg.com/onsenui/js/onsenui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.prod.min.js"></script>
    <script src="https://unpkg.com/vue-onsenui@latest/dist/vue-onsenui.js"></script>
    <script lang="javascript">
      const params = new URLSearchParams(document.location.search);
      if (params.get("apiToken")) {
        localStorage.setItem("apiToken", params.get("apiToken"));
      }
      ORC_AUTH_TOKEN = localStorage.getItem("apiToken");
    </script>
    <style>
      .pending {
        background-color: rgb(237, 237, 184);
      }
      .error {
        background-color: rgb(241, 106, 106);
      }
      .small {
        font-size: 0.8em;
        color: grey;
      }
      .amount {
        font-weight: bold;
        font-size: 1.2em;
      }
    </style>
  </head>
  <body>
    <template id="main">
      <v-ons-navigator
        swipeable
        v-model:page-stack="pageStack"
        @push-page="pageStack = [...pageStack, $event]"
      ></v-ons-navigator>
    </template>

    <template id="page1">
      <v-ons-page>
        <v-ons-toolbar>
          <div class="center">👁 Panopticon Mobile 👁</div>
        </v-ons-toolbar>

        <v-ons-list>
          <v-ons-list-header>Info</v-ons-list-header>
          <v-ons-list-item>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <span v-html="state.info.Network"></span>
              <span class="small">Updated <span v-html="state.secondsAgo"></span> secs ago</span>
            </div>
          </v-ons-list-item>
          <v-ons-list-header>ggAVAX</v-ons-list-header>
          <v-ons-list-item>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <span>WAVAX Balance</span>
              <span class="amount" v-html="state.wavaxBalance"></span>
            </div>
          </v-ons-list-item>
          <v-ons-list-item>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <span>AVAX Available</span>
              <span class="amount" v-html="state.amountAvailableForStaking"></span>
            </div>
          </v-ons-list-item>
          <v-ons-list-header>Nodes</v-ons-list-header>
          <v-ons-list-item>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <span>Pending Minipools</span>
              <span class="amount" v-html="state.pendingMinipoolsCount"></span>
            </div>
          </v-ons-list-item>
          <v-ons-list-item>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <span>Launching Minipools</span>
              <span class="amount" v-html="state.launchingMinipoolsCount"></span>
            </div>
          </v-ons-list-item>
          <v-ons-list-item>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <span>Staking Minipools</span>
              <span class="amount" v-html="state.stakingMinipoolsCount"></span>
            </div>
          </v-ons-list-item>
          <v-ons-list-item modifier="chevron" tappable @click="pushDelegations()">
            <div style="display: flex; justify-content: space-between; width: 80%">
              <span>Delegations</span>
              <span class="amount" v-html="state.currentDelegations.length"></span>
            </div>
          </v-ons-list-item>
          <v-ons-list-item modifier="chevron" tappable @click="pushMEV()">
            <div style="display: flex; justify-content: space-between; width: 80%">
              <span>MEV</span>
              <span class="amount" v-html="state.currentMEV.length"></span>
            </div>
          </v-ons-list-item>
          <v-ons-list-header>Wallet</v-ons-list-header>
          <v-ons-list-item>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <span>Balances</span>
              <span class="amount" v-html="state.balances"></span>
            </div>
          </v-ons-list-item>
          <v-ons-list-header>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <span>Orc Logs</span>
              <span class="small">Last log <span v-html="state.minsSinceLastLog"></span> mins ago</span>
            </div>
          </v-ons-list-header>
          <v-ons-list-header style="background-color: red" v-if="state.hasErrors">
            <span>Some Errors Were Logged!</span>
          </v-ons-list-header>
          <v-ons-list-item
            modifier="chevron"
            tappable
            @click="push(log)"
            v-for="log in state.txLogs"
            :key="log.ID"
            :class="log.css"
          >
            <div style="display: flex; justify-content: space-between; width: 90%">
              <v-ons-icon :icon="log.Icon"></v-ons-icon>
              <span v-html="log.RialtoEndpoint"></span>
              <span style="flex-grow: 1"></span>
              <span class="small" v-html="log.NodeID"></span>
            </div>
          </v-ons-list-item>
        </v-ons-list>
        <div>Updated <span v-html="state.secondsAgo"></span> seconds ago</div>

        <v-ons-button @click="push">Details</v-ons-button>
      </v-ons-page>
    </template>

    <template id="page2">
      <v-ons-page>
        <v-ons-toolbar>
          <div class="left"><v-ons-back-button>Back</v-ons-back-button></div>
          <div class="center">Details</div>
        </v-ons-toolbar>
        <v-ons-card>
          <div>TxID: <span v-html="state.currentLog.TxID"></span></div>
          <div>TS: <span v-html="state.currentLog.CreatedAt"></span></div>
          <div v-if="state.currentLog.ErrorMsg">Error: <span v-html="state.currentLog.ErrorMsg"></span></div>
          <div v-if="state.currentLog.RialtoBody">
            <h4>Rialto Body:</h4>
            <pre v-html="JSON.stringify(JSON.parse(state.currentLog.RialtoBody), null, 2)"></pre>
          </div>
          <div v-if="state.currentLog.RialtoResult">
            <h4>Rialto Body:</h4>
            <pre v-html="JSON.stringify(JSON.parse(state.currentLog.RialtoResult), null, 2)"></pre>
          </div>
        </v-ons-card>
      </v-ons-page>
    </template>

    <template id="pageMEV">
      <v-ons-page>
        <v-ons-toolbar>
          <div class="left"><v-ons-back-button>Back</v-ons-back-button></div>
          <div class="center">Details</div>
        </v-ons-toolbar>
        <v-ons-list>
          <v-ons-list-header>MEV Nodes</v-ons-list-header>
          <v-ons-list-item v-for="mev in state.currentMEV" :key="mev.txHash">
            <div style="display: flex; justify-content: space-between; width: 100%">
              <div style="font-size: 0.8em" v-html="mev.nodeId"></div>
              <div class="small" v-html="calculateMinutesUntilEnd(mev.endTimestamp)"></div>
            </div>
            <div class="small" v-html="formatAmount(mev.amountStaked[0].amount)"></div>
          </v-ons-list-item>
        </v-ons-list>
      </v-ons-page>
    </template>

    <template id="pageDelegations">
      <v-ons-page>
        <v-ons-toolbar>
          <div class="left"><v-ons-back-button>Back</v-ons-back-button></div>
          <div class="center">Details</div>
        </v-ons-toolbar>
        <v-ons-card>
          Delegations
        </v-ons-card>
      </v-ons-page>
    </template>

    <div id="app">Loading...</div>

    <script type="module">
      import { DEPLOYMENT } from "/deployments/selected.js";
      import { formatters } from "/js/utils.js";
      import { Orc } from "/js/orc.js";
      import { ggAVAX } from "/js/ggavax.js";
      import { GoGoPool } from "/js/gogopool.js";

      window.POLL_INTERVAL = 60 * 1000;
      window.BATCHSIZE = 500;

      // Create reactive Vue state object that can be mutated, and will automatically update the UI
      const state = Vue.reactive({
        updatedAt: Math.floor(Date.now() / 1000),
        secondsAgo: 0,
        currentLog: {},
        balances: "",
        info: {},
        txLogs: [],
        currentDelegations: [],
        currentMEV: [],
        dashboardData: [],
        minipoolsData: [],
        pendingMinipoolsCount: 0,
        launchingMinipoolsCount: 0,
        stakingMinipoolsCount: 0,
        amountAvailableForStaking: 0n,
        wavaxBalance: 0,
        hasErrors: false,
      });

      function updateSecondsAgo() {
        state.secondsAgo = Math.floor(Date.now() / 1000 - state.updatedAt);
      }
      setInterval(updateSecondsAgo, 1000);

      // Shorter names for Rialto endpoints
      const endpointMap = {
        "/record_staking_end_then_maybe_cycle": "/RSETMC",
        "/withdraw_for_delegation": "/w_f_delegation",
      };

      function updateStateOrc(orc) {
        console.log(orc);
        state.updatedAt = Math.floor(Date.now() / 1000);
        state.balances = orc.walletInfoLine();
        state.info = orc.info;
        state.txLogs = orc.txLogs.slice(0, 300);
        state.minsSinceLastLog = Math.floor(
          (Date.now() / 1000 - Math.floor(new Date(state.txLogs[0].CreatedAt).getTime() / 1000)) / 60
        );

        // Enrich the logs with some additional calculated data
        state.txLogs.forEach((log) => {
          if (log.Job === "ProcessOracle") {
            log.Icon = "fa-atom";
          }
          if (log.Job === "ProcessMinipools") {
            log.Icon = "fa-lightbulb";
          }
          if (log.Job === "ProcessDelegations") {
            log.Icon = "fa-dog";
          }
          if (log.RialtoResult.length == 0) log.RialtoResult = "{}";
          const rr = typeof log.RialtoResult === "string" ? JSON.parse(log.RialtoResult) : log.RialtoResult;
          log.TxID = rr.EVMTx?.TxID || rr.TxID || "???";
          if (log.ErrorMsg) {
            log.css = "error";
          } else if (log.RialtoResult.length == 0) {
            log.css = "pending";
          }

          if (log.RialtoBody.length == 0) log.RialtoBody = "{}";
          const rb = typeof log.RialtoBody === "string" ? JSON.parse(log.RialtoBody) : log.RialtoBody;
          log.NodeID = rb.NodeID ? rb.NodeID.substring(0, 15) : "";
          log.RialtoEndpoint = endpointMap[log.RialtoEndpoint] || log.RialtoEndpoint;
        });

        // If there are any errors, set a flag
        state.hasErrors = state.txLogs.some((log) => log.css === "error");
      }

      function updateStateGgavax(ggavax) {
        console.log(ggavax);
        state.currentDelegations = ggavax.currentDelegations.sort((a, b) => new Date(a.endTimestamp) - new Date(b.endTimestamp));
        state.currentMEV = ggavax.currentMEV.sort((a, b) => new Date(a.endTimestamp) - new Date(b.endTimestamp));
        state.wavaxBalance = formatters.formatEther(ggavax.wavaxBalance);
      }

      function updateStateGgp(ggp) {
        state.amountAvailableForStaking = formatters.formatEther(ggp.dashboardValue("TokenggAVAX", "amountAvailableForStaking").toBigInt());
        state.dashboardData = ggp.dashboardData;
      }

      function updateStateMinipools(ggp) {
        console.log("GGP",ggp);
        state.pendingMinipoolsCount = ggp.minipoolsData.filter((mp) => mp.status == "Prelaunch").length;
        state.launchingMinipoolsCount = ggp.minipoolsData.filter((mp) => mp.status == "Launching").length;
        state.stakingMinipoolsCount = ggp.minipoolsData.filter((mp) => mp.status == "Staking").length;
        state.minipoolsData = ggp.minipoolsData;
      }

      async function initData() {
        const orc = new Orc(DEPLOYMENT);
        const ggavax = new ggAVAX(DEPLOYMENT);
        const ggp = new GoGoPool(DEPLOYMENT);

        orc.refreshDataLoop((orc) => {
          updateStateOrc(orc);
        });

        await Promise.all([
          ggp.fetchContracts(),
          ggp.fetchDashboardData(),
          ggp.fetchMinipools(),
          orc.fetchInfo(),
          orc.fetchWallet(),
          ggavax.fetchCurrentDelegations(),
          ggavax.fetchCurrentMEV(),
          ggavax.fetchWavaxBalance(),
        ]);

        updateStateOrc(orc);
        updateStateGgavax(ggavax);
        updateStateGgp(ggp);
        updateStateMinipools(ggp);
      }

      initData();

      // UI Pages
      const pageMEV = {
        key: "pageMEV",
        template: "#pageMEV",
        data() {
          return { state };
        },
        methods: {
          calculateMinutesUntilEnd(timestamp) {
            const now = Math.floor(Date.now() / 1000);
            const end = new Date(timestamp);
            const diffInSeconds = Math.round(end - now);
            return formatters.formatDurationHumanShort(diffInSeconds > 0 ? diffInSeconds : 0);
          },
          formatAmount(amount) {
            return (amount / 1000000000).toFixed(2) + ' AVAX';
          }
        },
      };

      const pageDelegations = {
        key: "pageDelegations",
        template: "#pageDelegations",
        data() {
          return { state };
        },
      };

      const page2 = {
        key: "page2",
        template: "#page2",
        data() {
          return { state };
        },
      };

      const page1 = {
        key: "page1",
        template: "#page1",
        data() {
          return { state };
        },
        methods: {
          push(log) {
            state.currentLog = log;
            this.$emit("push-page", page2);
          },
          pushMEV() {
            this.$emit("push-page", pageMEV);
          },
          pushDelegations() {
            this.$emit("push-page", pageDelegations);
          },
        },
      };

      const app = Vue.createApp({
        template: "#main",
        data() {
          return {
            pageStack: [page1],
          };
        },
      });

      app.use(VueOnsen);
      app.mount("#app");
    </script>
  </body>
</html>
